# IP de la MV de BD (EC2 #2) alcanzable desde la MV de Ingesta.
# Requiere abrir el Security Group de la MV de BD al SG de la MV de Ingesta (ver README.md).
DB_HOST=

MYSQL_USER=ms1_user
MYSQL_PASSWORD=ms1_password
MYSQL_DATABASE=ms1_usuarios

POSTGRES_USER=ms3_user
POSTGRES_PASSWORD=ms3_password
POSTGRES_DB=ms3_pedidos

# Nombre de bucket único globalmente (el del doc, "ubereats-datalake-utec", probablemente ya esté tomado)
S3_BUCKET=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
